<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Infomation</title>
    {% load static %}
    <link href="{% static 'index/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/test.css' %}" rel="stylesheet">

</head>
<body>

<div style="width: 100%; height: 100vh;">
    <iframe 
        src="https://docs.google.com/presentation/d/1b7q3ydKFbev3Jz4fc5HuxyKBqfXOQ3mn7lpqRA7AiXk/preview" 

        style="width: 100%; height: 100%; border: none;">
    </iframe>
</div>


</body>
</html>


