<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% load static %}

  <title>MyResume Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'index/img/favicon.png' %}" rel="icon">
  <link href="{% static 'index/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'index/vendor/aos/aos.css' %}" rel="stylesheet"> 
  <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'index/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"> -->
  <!-- <link href="{% static 'index/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet"> --> 

  <!-- Template Main CSS File -->
  <link href="{% static 'index/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'index/css/style2.css' %}" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 
    <!-- =======================================================
  * Template Name: MyResume
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <!-- <section class="testf"> -->

    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>웹 개발 포트폴리오</h1>
      <p class="info-p">안녕하세요.</br>      
      노력하는 백엔드 개발자가 되고 싶은 변우성입니다. </br>
      저의 개인 프로젝트는 Django와 Html로 구성되어 있습니다.</p>


      
    </div>
  </section>


  <!-- </section> -->
  <main id="main">

    <!-- ======= About Section ======= -->
<section id="about-section" class="about">
  <div id="about-container" class="container" data-aos="fade-up"> <!--중앙정렬 -->

    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="infomation-content-div">

      <div class="infomation-list-div" id="info1">
        <div class="content-detail">
          <i class="fas fa-user"></i>
          <span class="vertical-line"></span>
          <span class="infomation-span">변우성</span>
        </div>
      </div>
            
      <div class="infomation-list-div" id="info2">
        <div class="content-detail">
          <i class="fas fa-phone"></i>
          <span class="vertical-line"></span>
          <span class="infomation-span">010-7722-9077</span>
        </div>
      </div>
            
      <div class="infomation-list-div" id="info3">
        <div class="content-detail">
          <i class="fas fa-envelope"></i>
          <span class="vertical-line"></span>
          <span class="infomation-span">usung418@gmail.com</span>
        </div>
      </div>
            
      <div class="infomation-list-div" id="info4">
        <div class="content-detail">
          <i class="fas fa-graduation-cap"></i>
          <span class="vertical-line"></span>
          <span class="infomation-span">계명대학교 컴퓨터공학 졸업</span>
        </div>
      </div>
            
      <div class="infomation-list-div" id="info5">
        <div class="content-detail">
          <i class="fas fa-home"></i>
          <span class="vertical-line"></span>
          <span class="infomation-span">서울특별시 동작구</span>
        </div>
      </div>
            
      <div class="infomation-list-div" id="info6">
        <div class="content-detail">

          <i class="fab fa-github"></i>
          <span class="vertical-line"></span>
          <a href="https://github.com/usungbyoun">
            <span class="infomation-span">https://github.com/usungbyoun</span>
          </a>
        </div>
      </div>

    </div>

  </div>
</section>

    <!-- ======= skills Section ======= -->
<section id="skills-section" class="facts">
  <div id="skills-container" class="container" data-aos="fade-up">

    <div class="section-title" id="skills-h2-div">
      <h2>skills</h2>
    </div>

    <div class="skills-content-div">

      <div class="skills-list-div" id="skills1">
        <div class="skills-title-div">
          <span class="skills-title-span">Frontend</span>
        </div>

        <div class="skills-img">
          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/html_icon.png' %}" 
          alt="html, css, js">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/react_icon.png' %}" 
          alt="React">
        </div>
      </div>
                    
      <div class="skills-list-div" id="skills2">
        <div class="skills-title-div" id="title2">
          <span class="skills-title-span">Backend</span>
        </div>

        <div class="skills-img">
          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/django_icon.png' %}" 
          alt="Django">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/drf_icon.png' %}" 
          alt="Django Rest Framework">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/sql_icon.png' %}" 
          alt="PostgreSQL">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/nginx_icon.png' %}" 
          alt="nginx">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/gunicorn_icon.png' %}" 
          alt="gunicorn">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/bs4_icon.png' %}" 
          alt="bs4">
        </div>
      </div>
                  
      <div class="skills-list-div" id="skills3">
        <div class="skills-title-div">
          <span class="skills-title-span">Deployment</span>
        </div>

        <div class="skills-img">
          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/aws_icon.png' %}" 
          alt="AWS">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/docker_logo.png' %}" 
          alt="Docker">
        </div>
      </div>
                    
      <div class="skills-list-div" id="skills4">
        <div class="skills-title-div" id="title4">
          <span class="skills-title-span">Version Control</span>
        </div>

        <div class="skills-img">
          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/git_logo.png' %}" 
          alt="git">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/github_icon.png' %}" 
          alt="github">

          <img class="icon-class" 
          src="{% static 'index/img/skills-icon/vscode_icon.png' %}" 
          alt="vscode">
        </div>
      </div>

    </div>

  </div>
</section>

   
   
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio-section" class="portfolio section-bg">
      <div id="portfolio-container" class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>
        <!-- <img src="{% static 'index/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt=""> -->
        
        <div class="develope-content-div">

          <div class="develope-list-div" id="develope1">
            
            <div class="develop-title-div">
              <span class="develope-title-span">스크래핑 SNS(Django)</span>
              <span class="develope-period-span">2023.10~ 2024.01</span>
            </div>


            
            <div class="develop-img-div">
              <!-- <img src="" alt="">img  -->
              <img class="test-img" 
              src="{% static 'index/img/skills-icon/github_icon.png' %}" 
              alt="github">
            </div>
            
            <div class="develop-summary-div">
              <span>인스타그램과 유사한 게시글 기능이 있는 SNS 사이트입니다. 
                웹 스크래핑(파싱)을 통해 원하는 이미지를 추가하여 게시글을 등록할 수 있습니다.
                Django와 HTML, CSS, JS로 만들었습니다.    
              </span>
            </div>
            
            <div class="develop-link-container">
              <a href="https://first.usungfolio.com/users/login">
                <div class="develop-link-item" id="develop-demo">
                 <span class="develop-link-span">Go !</span> 
                </div>
              </a>

              <a href="">
                <div class="develop-link-item" id="develop-detail-readme">
                  <span class="develop-link-span">프로젝트 소개</span>
                </div>
              </a>

              <a href="">
                <div class="develop-link-item" id="develop-github">
                  <span class="develop-link-span">GitHub</span>
                </div>
              </a>

            </div>

          </div>
       
       
       <div class="develope-list-div" id="develope2">
            
            <div class="develop-title-div">
              <span class="develope-title-span">스크래핑 SNS(Django Rest Framework)</span>
              <span class="develope-period-span">2023.12~ 2024.03</span>
            
            </div>
            
            <div class="develop-img-div">
              <img src="" alt="">img 
            </div>
            
            <div class="develop-summary-div">
              <span>인스타그램과 유사한 게시글 기능이 있는 SNS 사이트입니다. 
                웹 스크래핑(파싱)을 통해 원하는 이미지를 추가하여 게시글을 등록할 수 있습니다.
                Django와 HTML, CSS, JS로 만들었습니다.    
              </span>

            </div>
            
            <div class="develop-link-container">
              <a href="">
                <div class="develop-link-item" id="develop-demo">
                  Go !
                </div>
              </a>

              <a href="">
                <div class="develop-link-item" id="develop-detail-readme">
                  프로젝트 소개
                </div>
              </a>

              <a href="">
                <div class="develop-link-item" id="develop-github">
                  GitHub
                </div>
              </a>

            </div>

          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    
    <!-- ======= Skills Section ======= -->
    <!-- <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Possible Stacks</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">텐서플로우 <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section> -->

   
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
     
      <div class="copyright">
        &copy; Copyright <strong><span>byoun, u-sung</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'index/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'index/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'index/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'index/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'index/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'index/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'index/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'index/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'index/js/main.js' %}"></script>

</body>

</html>